<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.ChildStuReistrationMapper">


	<sql id="col">
		rOCCId,
		studentName,
		classHours,
		dpId,
		contentOfCourses,
		classHour,
		teacherInClass,
		childStuId,
		state,
		remarks
	</sql>
	
	<sql id="ChildStuReistrationCol">
		css.childStuId ccs_childStuId,
		css.classHour ccs_classHour,
		css.classHours ccs_classHours,
		css.contentOfCourses ccs_contentOfCourses,
		css.dpId ccs_dpId,
		css.remarks ccs_remarks,
		css.rOCCId ccs_rOCCId,
		SUM(css.classHour) sum_Hour,
		css.state ccs_state,
		css.studentName ccs_studentName,
		css.teacherInClass ccs_teacherInClass,
		ccs.classId ccs_classId,
		o.givehour o_givehour,
		o.addhour o_addhour
	</sql>
	
	<resultMap type="ChildStuReistration" id="ChildStuReistrationMap">
		<id column="ccs_rOCCId" property="rOCCId"/>
		<result column="ccs_childStuId" property="childStuId"/>
		<result column="ccs_classHour" property="classHour"/>
		<result column="ccs_classHours" property="classHours"/>
		<result column="ccs_contentOfCourses" property="contentOfCourses"/>
		<result column="ccs_dpId" property="dpId"/>
		<result column="ccs_remarks" property="remarks"/>
		<result column="ccs_classId" property="classId"/>
		<result column="ccs_teacherId" property="teacherId"/>
		<result column="ccs_state" property="state"/>
		<result column="sum_Hour" property="sumHour"/>
		<result column="ccs_studentName" property="studentName"/>
		<result column="ccs_teacherInClass" property="teacherInClass"/>
		<association property="order" javaType="Order">
			<result column="o_givehour" property="givehour"/>
			<result column="o_addhour" property="addhour"/>
		</association>
	</resultMap>
	<!--  查询学生课时总数-->
	<select id="childStuReistrationListByClass" resultMap="ChildStuReistrationMap">
		select distinct <include refid="ChildStuReistrationCol"/> 
		from childsturegistration css
		join childrenesclassstudnet ccs on ccs.classesStudentId = css.childStuId
		join traininginstitutions.class  c on c.classId = css.classId
		join traininginstitutions.order o on o.classId  =css.classId
		<where>
			<if test="classId!=null and classId!=''">
				c.classId = #{classId}
			</if>
		</where> 
		group by ccs.studentId
	</select>
	
	
	<sql id="teacherHourDetailedCol">
		css.childStuId css_childStuId,
		css.classHour css_classHour,
		css.classHours css_classHours,
		css.classId css_classId,
		css.contentOfCourses css_contentOfCourses,
		css.dpId css_dpId,
		css.remarks css_remarks,
		css.rOCCId css_rOCCId,
		css.state css_state,
		css.studentName css_studentName,
		css.teacherId css_teacherId,
		css.teacherInClass css_teacherInClass,
		dp.dpTypeName dp_dpTypeName
	</sql>
	
	<resultMap type="ChildStuReistration" id="teacherHourDetailedMap">
		<id column="css_rOCCId" property="rOCCId"/>
		<result column="css_childStuId" property="childStuId"/>
		<result column="css_classHour" property="classHour"/>
		<result column="css_classHours" property="classHours"/>
		<result column="css_contentOfCourses" property="contentOfCourses"/>
		<result column="css_dpId" property="dpId"/>
		<result column="css_remarks" property="remarks"/>
		<result column="css_classId" property="classId"/>
		<result column="css_teacherId" property="teacherId"/>
		<result column="css_state" property="state"/>
		<result column="css_studentName" property="studentName"/>
		<result column="css_teacherInClass" property="teacherInClass"/>
		<association property="departmentOfPediatrics" javaType="DepartmentOfPediatrics">
			<result column="dp_dpTypeName" property="dpTypeName"/>
		</association>
	</resultMap>
	
	<select id="selectTeacherDetailed" resultMap="teacherHourDetailedMap" parameterType="java.lang.Integer">
		select <include refid="teacherHourDetailedCol"/>
		from childsturegistration css
		join departmentofpediatrics dp on dp.dpId = css.dpId
		<where>
			<if test="classId !=null and classId!=''">
				css.classId = #{classId}
			</if>
		</where> 
	</select>
	
</mapper>