<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.CityMapper">
	<!--查询时参数-->
	<sql id="cityCol">
		cityId,
		cityName,
		provinceId
	</sql>
	<!--添加查询所有城市Sql语句-->
	<select id="selectCitys" resultType="City">	
		select <include refid="cityCol"/>
	</select>
	<!--根据省分查询城市sql语句-->
	<select id="selectCitysByProvinceId" resultType="City">
		select <include refid="cityCol"/>
		from city
		<where>
			<if test="provinceId!=null and provinceId!=''">
				provinceId = #{provinceId}
			</if>
		</where>
	</select>
</mapper>