<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.ClassMapper">
	<sql id="classCol">
		classId,
		classNumber,
		className,
		dpId,
		schoolId,
		teacherId,
		classLevel
	</sql>

	<sql id="selectChildrenescClassesCol">
		cc.classId as cc_classId,
		cc.classNumber as cc_classNumber,
		cc.className as cc_className,
		cc.classTypeId as cc_classTypeId,
		cc.headmaster as cc_headmaster ,
		cc.teacherId as cc_teacherId,
		cc.schoolId as cc_schoolId,
		cc.classlevel as cc_classlevel,
		s.schoolId
		as s_schoolId,
		s.schoolName as s_schoolName,
		dp.dpTypeName as
		dp_dpTypeName,
		dp.dpId as dp_dpId
	</sql>

	<select id="selectChildrenescClasses"
		resultMap="selectChildrenescClassesMap"
		parameterType="java.lang.String">
		select
		<include refid="selectChildrenescClassesCol" />
		from class cc
		join school s on cc.schoolId = s.schoolId
		join
		departmentofpediatrics dp on cc.classTypeId = dp.dpId
		<where>
			<if test="schoolId !=null and schoolId !=''">
				cc.schoolId =#{schoolId}
			</if>
		</where>
	</select>
	<resultMap id="selectChildrenescClassesMap" type="Class">
		<id column="cc_classId" property="classId" />
		<result column="cc_classNumber" property="classNumber" />
		<result column="cc_className" property="className" />
		<result column="cc_classTypeId" property="classTypeId" />
		<result column="cc_schoolId" property="schoolId" />
		<result column="cc_headmaster" property="headmaster" />
		<result column="cc_teacherId" property="teacherId" />
		<result column="cc_classlevel" property="classLevel" />
		<collection property="school" javaType="School">
			<id column="s_schoolId" property="schoolId"
				javaType="java.lang.Integer" />
			<result column="s_schoolName" property="schoolName"
				javaType="java.lang.String" />
		</collection>
		<collection property="departmentOfPediatrics"
			javaType="DepartmentOfPediatrics">
			<id column="dp_dpId" property="dpId" javaType="java.lang.Integer" />
			<result column="dp_dpTypeName" property="dpTypeName"
				javaType="java.lang.String" />
		</collection>
	</resultMap>

	<insert id="insertChildrenescClass" parameterType="Class">
		insert into
		class ( classNumber, className, classTypeId, schoolId,headmaster,
		teacherId,classLevel)
		values (#{classNumber}, #{className},
		#{classTypeId}, #{schoolId},
		#{headmaster},#{teacherId},#{classLevel})
	</insert>

	<select id="selectClass" resultMap="selectClasses"
		parameterType="java.lang.Integer">
		SELECT
		c.classId cd,c.classNumber,c.className,c.schoolId cs,c.classTypeId,c.headmaster,c.teacherId,c.classLevel,d.dpId,d.dpMoney,d.dpMoneyVip,d.dpTypeName
		FROM class c
		JOIN departmentofpediatrics d ON c.dpId=d.dpId
		WHERE
		c.schoolId=#{0} AND d.schoolId=#{0} AND c.classType=#{1}
		ORDER BY cd
	</select>

	<resultMap id="selectClasses" type="Class">
		<id column="cd" property="classId" />
		<result column="c.classNumber" property="classNumber" />
		<result column="c.className" property="className" />
		<result column="c.classTypeId" property="classTypeId" />
		<result column="cs" property="schoolId" />
		<result column="c.headmaster" property="headmaster" />
		<result column="c.teacherId" property="teacherId" />
		<result column="c.classLevel" property="classLevel" />
		<collection property="departmentOfPediatrics"
			javaType="DepartmentOfPediatrics">
			<id column="d.dpId" property="dpId" javaType="java.lang.Integer" />
			<result column="d.dpMoney" property="dpMoney" />
			<result column="d.dpMoneyVip" property="dpMoneyVip" />
			<result column="d.dpTypeName" property="dpTypeName" />
		</collection>
	</resultMap>

</mapper>
