<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.DepartmentOfPediatricsMapper">
	<sql id="dpCol">
		dpId,
		dpTypeName,
		chargeTypeId
	</sql>
	<!--查询所有班级科别 -->
	<select id="selectDepartmentOfPediatrics" resultType="DepartmentOfPediatrics">
		select
		<include refid="dpCol" />
		from departmentofpediatrics
	</select>

	<!--新增班级科别-->
	<insert id="insertDepartmentOfPediatrics" parameterType="DepartmentOfPediatrics" >
		insert into departmentofpediatrics ( dpTypeName, chargeTypeId )
		values ( #{dpTypeName}, #{chargeTypeId} )
	</insert>
	
	<!--删除班级科别-->
	<delete id="deleteDepartmentOfPediatrics" parameterType="java.lang.Integer">
		delete from  departmentofpediatrics 
		<where>
			<if test="dpId!=null and dpId!=''">
				dpId = #{dpId} 
			</if>
		</where>
	</delete>
	
</mapper>
