<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.GiftMapper">

	<select id="selectGift" resultType="Gift"
		parameterType="java.lang.Integer">
		SELECT * FROM gift WHERE schoolId=#{0}
	</select>

	<update id="updateGift">
		UPDATE traininginstitutions.gift SET giftNumber
		=giftNumber +
		#{0} WHERE giftId = #{1} ;
	</update>
	<delete id="delGift">
		DELETE FROM traininginstitutions.gift
		WHERE
		giftId =
		#{0} ;
	</delete>

	<insert id="addGift">
		INSERT INTO traininginstitutions.gift (giftName,
		schoolId, giftNumber)VALUES(#{giftName}, #{schoolId},#{giftNumber});
	</insert>

</mapper>
