<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.OrderMapper">

	<select id="selectOrderHour" resultMap="selectOrderHours">
		SELECT o.orderId
		od,o.dpMoney,o.remarks,o.paymentmethodId
		opi,o.departmentofpediatricsId odf,o.feecateId
		ofi,o.addhour,o.givehour,o.startTime,o.orderNumber,o.stuId
		sd,o.giftNumber,o.giftId,s.studentName,s.school,s.integral,p.paymentmethodName,d.dpTypeName,o.integral
		oi,o.teacherId ot,o.giftId,o.giftNumber ogm,sc.schoolName
		sn,s.studentBirth,o.discount odi
		FROM
		`order`
		o
		JOIN student s
		ON
		o.stuId=s.studentId
		JOIN
		paymentmethod p ON
		o.paymentmethodId=p.paymentmethodId
		JOIN
		departmentofpediatrics d ON
		o.departmentofpediatricsId=d.dpId
		JOIN
		school sc ON
		o.schoolId=sc.schoolId
		WHERE o.identification = 0 AND
		o.stuId=s.studentId and
		o.paymentmethodId=p.paymentmethodId and
		o.departmentofpediatricsId IS NOT NULL
		AND
		o.schoolId=#{0} ORDER BY od
		desc
	</select>

	<resultMap type="Order" id="selectOrderHours">
		<id column="od" property="orderId" />
		<result column="o.dpMoney" property="dpMoney" />
		<result column="o.remarks" property="remarks" />
		<result column="o.addhour" property="addhour" />
		<result column="sd" property="stuId" />
		<result column="opi" property="paymentmethodId" />
		<result column="oi" property="integral" />
		<result column="odf" property="departmentofpediatricsId" />
		<result column="ofi" property="feecateId" />
		<result column="o.givehour" property="givehour" />
		<result column="ot" property="teacherId" />
		<result column="o.giftId" property="giftId" />
		<result column="ogm" property="giftNumber" />
		<result column="odi" property="discount" />
		<result column="o.startTime" property="startTime" />
		<result column="o.orderNumber" property="orderNumber" />
		<collection property="student" javaType="Student">
			<result column="s.studentName" property="studentName" />
			<result column="s.school" property="school" />
			<result column="s.integral" property="integral" />
			<result column="s.studentBirth" property="studentBirth" />
		</collection>
		<collection property="paymentMethod"
			javaType="PaymentMethod">
			<result column="p.paymentmethodName"
				property="paymentmethodName" />
		</collection>
		<collection property="departmentOfPediatrics"
			javaType="DepartmentOfPediatrics">
			<result column="d.dpTypeName" property="dpTypeName" />
		</collection>
		<collection property="school" javaType="School">
			<result column="sn" property="schoolName" />
		</collection>
	</resultMap>

	<select id="selectOrderPeriod" resultMap="selectOrderPeriodes">
		SELECT o.orderId
		od,o.firstdate,o.lastdate,o.dpMoney
		odm,o.remarks,o.personliable,o.startTime,o.orderNumber,o.feecateId
		ofi,o.stuId osi,o.paymentmethodId opt,s.studentName,o.discount,
		p.paymentmethodName,s.school,s.integral,o.giftId,o.giftNumber
		ogm,o.integral oi,o.teacherId ot,sc.schoolName
		sn,s.studentBirth,c.dpId cdp,o.discount odi,o.feecateMoney ofmy
		FROM
		`order` o
		JOIN
		student s ON
		o.stuId=s.studentId
		JOIN paymentmethod p ON
		o.paymentmethodId=p.paymentmethodId
		JOIN class c ON o.classId=c.classId
		JOIN school sc ON
		o.schoolId=sc.schoolId
		WHERE o.firstdate IS NOT NULL
		AND
		o.schoolId=#{0} ORDER BY od desc

	</select>

	<resultMap type="Order" id="selectOrderPeriodes">
		<id column="od" property="orderId" />
		<result column="odm" property="dpMoney" />
		<result column="o.remarks" property="remarks" />
		<result column="o.personliable" property="personliable" />
		<result column="osi" property="stuId" />
		<result column="opt" property="paymentmethodId" />
		<result column="o.startTime" property="startTime" />
		<result column="ofi" property="feecateId" />
		<result column="oi" property="integral" />
		<result column="o.firstdate" property="firstdate" />
		<result column="o.lastdate" property="lastdate" />
		<result column="o.discount" property="discount" />
		<result column="ot" property="teacherId" />
		<result column="odi" property="discount" />
		<result column="ofmy" property="feecateMoney" />
		<result column="o.orderNumber" property="orderNumber" />
		<result column="o.giftId" property="giftId" />
		<result column="cdp" property="classId" />
		<result column="ogm" property="giftNumber" />
		<collection property="student" javaType="Student">
			<result column="s.studentName" property="studentName" />
			<result column="s.school" property="school" />
			<result column="s.integral" property="integral" />
			<result column="s.studentBirth" property="studentBirth" />
		</collection>
		<collection property="paymentMethod"
			javaType="PaymentMethod">
			<result column="p.paymentmethodName"
				property="paymentmethodName" />
		</collection>
		<collection property="school" javaType="School">
			<result column="sn" property="schoolName" />
		</collection>
	</resultMap>

	<select id="selectOrderPeriods" resultMap="selectOrderPeriods2">
		SELECT o.orderId
		od,o.firstdate,o.lastdate,o.dpMoney
		odm,o.remarks,o.personliable,o.startTime,o.orderNumber,o.feecateId
		ofi,o.stuId osi,o.paymentmethodId opt,s.studentName,o.discount,
		p.paymentmethodName,s.school,s.integral,o.giftId,o.giftNumber
		ogm,o.integral oi,o.teacherId ot,sc.schoolName sn,s.studentBirth
		FROM
		`order` o
		JOIN
		student s ON
		o.stuId=s.studentId
		JOIN paymentmethod p ON
		o.paymentmethodId=p.paymentmethodId
		JOIN class c ON o.classId=c.classId
		JOIN school sc ON
		o.schoolId=sc.schoolId
		WHERE o.firstdate IS NOT NULL
		AND
		o.schoolId=#{0} ORDER BY od desc

	</select>

	<resultMap type="Order" id="selectOrderPeriods2">
		<id column="od" property="orderId" />
		<result column="odm" property="dpMoney" />
		<result column="o.remarks" property="remarks" />
		<result column="o.personliable" property="personliable" />
		<result column="osi" property="stuId" />
		<result column="opt" property="paymentmethodId" />
		<result column="o.startTime" property="startTime" />
		<result column="ofi" property="feecateId" />
		<result column="oi" property="integral" />
		<result column="o.firstdate" property="firstdate" />
		<result column="o.lastdate" property="lastdate" />
		<result column="o.discount" property="discount" />
		<result column="ot" property="teacherId" />
		<result column="o.orderNumber" property="orderNumber" />
		<result column="o.giftId" property="giftId" />
		<result column="ogm" property="giftNumber" />
		<collection property="student" javaType="Student">
			<result column="s.studentName" property="studentName" />
			<result column="s.school" property="school" />
			<result column="s.integral" property="integral" />
			<result column="s.studentBirth" property="studentBirth" />
		</collection>
		<collection property="paymentMethod"
			javaType="PaymentMethod">
			<result column="p.paymentmethodName"
				property="paymentmethodName" />
		</collection>
		<collection property="school" javaType="School">
			<result column="sn" property="schoolName" />
		</collection>
	</resultMap>

	<select id="selectOrderOther" resultMap="selectOrderOtheres">
		SELECT o.orderId
		oo,o.stuId ost,o.feecateId ofi,o.paymentmethodId
		opt,o.remarks,o.personliable,p.paymentmethodName,f.chargeTypeName,s.school,s.studentName,o.startTime,o.dpMoney
		odm,o.orderNumber,sc.schoolName sn,s.studentBirth,c.dpId cdp
		FROM
		traininginstitutions.order
		o
		JOIN student s ON
		o.stuId=s.studentId
		JOIN
		feecategory f
		ON
		o.feecateId=f.chargeTypeId
		JOIN paymentmethod p ON
		o.paymentmethodId=p.paymentmethodId
		JOIN class c ON o.classId=c.classId
		JOIN school sc ON
		o.schoolId=sc.schoolId
		WHERE
		o.identification = 0 AND
		o.firstdate IS NULL
		AND o.addhour IS NULL AND
		o.schoolId=#{0}
		ORDER BY oo
		desc
	</select>

	<resultMap type="Order" id="selectOrderOtheres">
		<id column="oo" property="orderId" />
		<result column="odm" property="dpMoney" />
		<result column="o.remarks" property="remarks" />
		<result column="o.personliable" property="personliable" />
		<result column="ost" property="stuId" />
		<result column="opt" property="paymentmethodId" />
		<result column="o.startTime" property="startTime" />
		<result column="ofi" property="feecateId" />
		<result column="cdp" property="classId" />
		<result column="o.orderNumber" property="orderNumber" />
		<collection property="student" javaType="Student">
			<result column="s.studentName" property="studentName" />
			<result column="s.school" property="school" />
			<result column="s.studentBirth" property="studentBirth" />
		</collection>
		<collection property="paymentMethod"
			javaType="PaymentMethod">
			<result column="p.paymentmethodName"
				property="paymentmethodName" />
		</collection>
		<collection property="feeCategory" javaType="FeeCategory">
			<result column="f.chargeTypeName" property="chargeTypeName" />
		</collection>
		<collection property="school" javaType="School">
			<result column="sn" property="schoolName" />
		</collection>
	</resultMap>


	<select id="selectOrderExpenditure"
		resultMap="selectOrderExpenditures">
		SELECT o.orderId
		oo,o.stuId ost,o.expenditureitemsId
		oei,o.paymentmethodId
		opt,o.remarks,o.personliable,p.paymentmethodName,e.expenditureitemsName,s.school,s.studentName,o.startTime,o.feecategoryMoney
		ofm,o.orderNumber,sc.schoolName sn,s.studentBirth,c.dpId cdp
		FROM
		traininginstitutions.order o
		JOIN student s ON
		o.stuId=s.studentId
		JOIN
		expenditureitems e ON
		o.expenditureitemsId=e.expenditureitemsId
		JOIN
		paymentmethod p ON
		o.paymentmethodId=p.paymentmethodId
		JOIN class c ON
		o.classId=c.classId
		JOIN school sc ON
		o.schoolId=sc.schoolId
		WHERE
		o.identification = 1 AND
		o.firstdate IS
		NULL AND o.addhour IS NULL AND
		o.schoolId=#{0}
		ORDER BY
		oo desc
	</select>

	<resultMap type="Order" id="selectOrderExpenditures">
		<id column="oo" property="orderId" />
		<result column="ofm" property="feecategoryMoney" />
		<result column="o.remarks" property="remarks" />
		<result column="o.personliable" property="personliable" />
		<result column="ost" property="stuId" />
		<result column="opt" property="paymentmethodId" />
		<result column="o.startTime" property="startTime" />
		<result column="oei" property="expenditureitemsId" />
		<result column="o.orderNumber" property="orderNumber" />
		<result column="cdp" property="classId" />
		<collection property="student" javaType="Student">
			<result column="s.studentName" property="studentName" />
			<result column="s.school" property="school" />
			<result column="s.studentBirth" property="studentBirth" />
		</collection>
		<collection property="paymentMethod"
			javaType="PaymentMethod">
			<result column="p.paymentmethodName"
				property="paymentmethodName" />
		</collection>
		<collection property="expenditureitems"
			javaType="Expenditureitems">
			<result column="e.expenditureitemsName"
				property="expenditureitemsName" />
		</collection>
		<collection property="school" javaType="School">
			<result column="sn" property="schoolName" />
		</collection>
	</resultMap>

	<delete id="delOrder" parameterType="java.lang.Integer">
		DELETE FROM
		traininginstitutions.order WHERE orderId = #{0} ;
	</delete>

	<insert id="addOrder" parameterType="java.lang.Integer">
		INSERT INTO
		traininginstitutions.order
		(feecateId,dpMoney,stuId,startTime,schoolId,identification,
		feecategoryMoney,paymentmethodId,personliable,departmentofpediatricsId,
		addhour,givehour,firstdate,lastdate,remarks,orderNumber,expenditureitemsId,
		classId,giftId,giftNumber,integral,teacherId,discount,feecateMoney,feecateMoneyYiKao,activityId)VALUES(
		#{feecateId},#{dpMoney},#{stuId},#{startTime},#{schoolId},
		#{identification},#{feecategoryMoney},#{paymentmethodId},#{personliable},
		#{departmentofpediatricsId},#{addhour},#{givehour},#{firstdate},#{lastdate},
		#{remarks},#{orderNumber},#{expenditureitemsId},#{classId},#{giftId},#{giftNumber},#{integral},#{teacherId},#{discount},#{feecateMoney},#{feecateMoneyYiKao},#{activityId});
	</insert>

	<update id="updateOrderAll">
		UPDATE
		traininginstitutions.order
		<trim prefix="set" suffixOverrides=",">
			<if test="stuId !=null and stuId !=''">
				stuId = #{stuId},
			</if>
			<if test="feecateId !=null and feecateId !=''">
				feecateId = #{feecateId},
			</if>
			<if test="dpMoney !=null and dpMoney !=''">
				dpMoney = #{dpMoney},
			</if>
			<if test="schoolId !=null and schoolId !=''">
				schoolId = #{schoolId},
			</if>
			<if test="feecategoryMoney !=null and feecategoryMoney !=''">
				feecategoryMoney = #{feecategoryMoney},
			</if>
			<if test="paymentmethodId !=null and paymentmethodId !=''">
				paymentmethodId = #{paymentmethodId},
			</if>
			<if test="personliable !=null and personliable !=''">
				personliable = #{personliable},
			</if>
			<if
				test="departmentofpediatricsId !=null and departmentofpediatricsId !=''">
				departmentofpediatricsId = #{departmentofpediatricsId},
			</if>
			<if test="addhour !=null and addhour !=''">
				addhour = #{addhour},
			</if>
			<if test="givehour !=null and givehour !=''">
				givehour = #{givehour},
			</if>
			<if test="firstdate !=null and firstdate !=''">
				firstdate = #{firstdate},
			</if>
			<if test="lastdate !=null and lastdate !=''">
				lastdate = #{lastdate},
			</if>
			<if test="remarks !=null and remarks !=''">
				remarks = #{remarks},
			</if>
			<if test="expenditureitemsId !=null and expenditureitemsId !=''">
				expenditureitemsId = #{expenditureitemsId},
			</if>
			<if test="classId !=null and classId !=''">
				classId = #{classId},
			</if>
			<if test="giftId !=null">
				giftId = #{giftId},
			</if>
			<if test="giftNumber !=null">
				giftNumber = #{giftNumber},
			</if>
			<if test="integral !=null">
				integral = #{integral},
			</if>
			<if test="teacherId !=null">
				teacherId = #{teacherId},
			</if>
			<if test="discount !=null">
				discount = #{discount},
			</if>
		</trim>
		WHERE orderId = #{orderId} ;
	</update>

	<sql id="orderCol">
		orderId,
		feecateId,
		dpMoney,
		stuId,
		startTime,
		schoolId,
		identification,
		feecategoryMoney,
		paymentmethodId,
		personliable,
		departmentofpediatricsId,
		addhour,
		givehour,
		firstdate,
		lastdate,
		remarks,
		orderNumber,
		expenditureitemsId,
		classId,
		giftId,
		giftNumber,
		integral,
		teacherId,
		discount
	</sql>
	<!--查询学校支出 -->


	<!-- 查询学校支出情况 -->
	<sql id="selectOrderExpenListBySchoolCol">
		o.addhour o_addhour,
		o.departmentofpediatricsId
		o_departmentofpediatricsId,
		o.dpMoney o_dpMoney,
		o.expenditureitemsId
		o_expenditureitemsId,
		o.feecategoryMoney o_feecategoryMoney,
		o.feecateId o_feecateId,
		o.firstdate o_firstdate,
		o.givehour o_givehour,
		o.identification o_identification,
		o.lastdate o_lastdate,
		o.orderId
		o_orderId,
		o.orderNumber o_orderNumber,
		o.paymentmethodId
		o_paymentmethodId,
		o.personliable o_personliable,
		o.remarks o_remarks,
		o.schoolId o_schoolId,
		o.startTime o_startTime,
		o.stuId o_stuId ,
		ed.expenditureitemsId ed_expenditureitemsId,
		ed.expenditureitemsName
		ed_expenditureitemsName,
		ed.category ed_category,
		ed.schoolId
		ed_schoolId
	</sql>

	<!-- 查询学校支出情况 -->
	<resultMap type="Order" id="selectOrderExpenListBySchoolMap">
		<id column="o_orderId" property="orderId" />
		<result column="o_departmentofpediatricsId"
			property="departmentofpediatricsId" />
		<result column="o_dpMoney" property="dpMoney" />
		<result column="o_expenditureitemsId"
			property="expenditureitemsId" />
		<result column="o_feecategoryMoney" property="feecategoryMoney" />
		<result column="o_feecateId" property="feecateId" />
		<result column="o_firstdate" property="firstdate" />
		<result column="o_givehour" property="givehour" />
		<result column="o_identification" property="identification" />
		<result column="o_lastdate" property="lastdate" />
		<result column="o_orderNumber" property="orderNumber" />
		<result column="o_paymentmethodId" property="paymentmethodId" />
		<result column="o_personliable" property="personliable" />
		<result column="o_remarks" property="remarks" />
		<result column="o_schoolId" property="schoolId" />
		<result column="o_startTime" property="startTime" />
		<result column="o_stuId" property="stuId" />
		<association property="expenditureitems"
			javaType="Expenditureitems">
			<id column="ed_expenditureitemsId" property="expenditureitemsId" />
			<result column="ed_expenditureitemsName"
				property="expenditureitemsName" />
			<result column="ed_expenditureitemsName"
				property="expenditureitemsName" />
			<result column="ed_category" property="category" />
			<result column="ed_schoolId" property="schoolId" />
		</association>
	</resultMap>

	<!-- 查询学校支出情况 -->
	<select id="selectOrderExpenListBySchool"
		resultMap="selectOrderExpenListBySchoolMap" parameterType="Order">
		select
		<include refid="selectOrderExpenListBySchoolCol" />
		from traininginstitutions.order
		join expenditureitems ed on
		ed.expenditureitemsId =
		o.expenditureitemsId
		<where>
			<if test="expenditureitemsId !=null and expenditureitemsId!=''">
				o.expenditureitemsId = #{expenditureitemsId}
			</if>
		</where>
	</select>

	<!-- 查询学校收入情况 -->
	<sql id="selectOrderListBySchoolCol">
		o.addhour o_addhour,
		o.departmentofpediatricsId
		o_departmentofpediatricsId,
		o.dpMoney o_dpMoney,
		o.expenditureitemsId
		o_expenditureitemsId,
		o.feecategoryMoney o_feecategoryMoney,
		o.feecateMoney o_feecateMoney,
		o.feecateId o_feecateId,
		o.firstdate o_firstdate,
		o.addhour o_addhour,
		o.givehour o_givehour,
		o.identification o_identification,
		o.lastdate
		o_lastdate,
		o.orderId o_orderId,
		o.orderNumber o_orderNumber,
		o.paymentmethodId o_paymentmethodId,
		o.personliable o_personliable,
		o.remarks o_remarks,
		o.schoolId o_schoolId,
		o.startTime o_startTime,
		o.stuId o_stuId,
		o.discount o_discount,
		p.paymentmethodId
		p_paymentmethodId,
		p.paymentmethodName p_paymentmethodName,
		dp.dpId
		dp_dpId,
		dp.dpTypeName
		dp_dpTypeName,
		dp.chargeTypeId dp_chargeTypeId,
		stu.studentId stu_studentId,
		stu.studentName
		stu_studentName
	</sql>

	<!-- 查询学校收入情况 -->
	<resultMap type="Order" id="selectOrderListBySchoolMap">
		<id column="o_orderId" property="orderId" />
		<result column="o_departmentofpediatricsId"
			property="departmentofpediatricsId" />
		<result column="o_dpMoney" property="dpMoney" />
		<result column="o_expenditureitemsId"
			property="expenditureitemsId" />
		<result column="o_feecategoryMoney" property="feecategoryMoney" />
		<result column="o_feecateId" property="feecateId" />
		<result column="o_firstdate" property="firstdate" />
		<result column="o_addhour" property="addhour" />
		<result column="o_givehour" property="givehour" />
		<result column="o_identification" property="identification" />
		<result column="o_lastdate" property="lastdate" />
		<result column="o_orderNumber" property="orderNumber" />
		<result column="o_paymentmethodId" property="paymentmethodId" />
		<result column="o_personliable" property="personliable" />
		<result column="o_remarks" property="remarks" />
		<result column="o_schoolId" property="schoolId" />
		<result column="o_startTime" property="startTime" />
		<result column="0_discount" property="discount" />
		<result column="o_feecateMoney" property="feecateMoney" />
		<result column="o_stuId" property="stuId" />
		<association property="paymentMethod"
			javaType="PaymentMethod">
			<id column="p_paymentmethodId" property="paymentmethodId" />
			<result column="p_paymentmethodName"
				property="paymentmethodName" />
		</association>
		<association property="departmentOfPediatrics"
			javaType="DepartmentOfPediatrics">
			<id column="dp_dpId" property="dpId" />
			<result column="dp_dpTypeName" property="dpTypeName" />
			<result column="dp_chargeTypeId" property="chargeTypeId" />
		</association>
		<association property="feeCategory" javaType="FeeCategory">
			<id column="fc_chargeTypeId" property="chargeTypeId" />
			<result column="fc_chargeTypeName" property="chargeTypeName" />
			<result column="fc_category" property="category" />
		</association>
		<association property="student" javaType="Student">
			<id column="stu_studentId" property="studentId" />
			<result column="stu_studentName" property="studentName" />
		</association>
	</resultMap>

	<!--根据学校主键查询学校收入明细 -->
	<select id="selectOrderListBySchool"
		resultMap="selectOrderListBySchoolMap" parameterType="Order">
		select distinct
		<include refid="selectOrderListBySchoolCol" />
		from traininginstitutions.order o
		, paymentmethod p
		,departmentofpediatrics dp , student stu,
		province pro,city c,school sc
		<where>
			p.paymentmethodId = o.paymentmethodId
			and dp.dpId =
			o.departmentofpediatricsId
			and
			stu.studentId = o.stuId
			and sc.cityId = c.cityId
			and sc.cityProperId = pro.provinceId
			<if test="schoolId !=null and schoolId != ''">
				and o.schoolId =#{schoolId}
			</if>
			<if test="startTime != null and startTime != ''">
				and date(o.startTime) between #{startTime} and #{endTime}
			</if>
			<if test="paymentmethodId !=null and paymentmethodId!=''">
				and o.paymentmethodId = #{paymentmethodId}
			</if>
			<if
				test="departmentofpediatricsId !=null and departmentofpediatricsId != ''">
				and o.departmentofpediatricsId = #{departmentofpediatricsId}
			</if>
			<if test="feecateId !=null and feecateId != '' ">
				and o.feecateId like concat(concat("%",#{feecateId}),"%")
			</if>
			<if test="classId !=null and classId != '' ">
				and o.classId = #{classId}
			</if>
			<if test="cityId !=null and cityId != '' ">
				and sc.cityId = #{cityId}
			</if>
			<if test="cityProperId !=null and cityProperId != '' ">
				and sc.cityProperId = #{cityProperId}
			</if>
		</where>
	</select>


	<sql id="selectExpenOrderListCol">
		distinct
		o.expenditureitemsId
		o_expenditureitemsId,
		o.identification
		o_identification,
		o.orderId o_orderId,
		o.orderNumber o_orderNumber,
		o.paymentmethodId o_paymentmethodId,
		o.personliable o_personliable,
		o.remarks o_remarks,
		o.schoolId o_schoolId,
		o.startTime o_startTime,
		o.feecategoryMoney o_feecategoryMoney,
		o.feecateMoney o_feecateMoney,
		e.expenditureitemsId
		e_expenditureitemsId,
		e.category e_category,
		e.expenditureitemsName
		e_expenditureitemsName,
		p.paymentmethodId p_paymentmethodId,
		p.paymentmethodName p_paymentmethodName
	</sql>

	<resultMap type="Order" id="selectExpenOrderListMap">
		<id column="o_orderId" property="orderId" />
		<result column="o_expenditureitemsId"
			property="expenditureitemsId" />
		<result column="o_identification" property="identification" />
		<result column="o_orderId" property="orderId" />
		<result column="o_orderNumber" property="orderNumber" />
		<result column="o_paymentmethodId" property="paymentmethodId" />
		<result column="o_personliable" property="personliable" />
		<result column="o_remarks" property="remarks" />
		<result column="o_schoolId" property="schoolId" />
		<result column="o_startTime" property="startTime" />
		<result column="o_feecategoryMoney" property="feecategoryMoney" />
		<result column="o_feecateMoney" property="feecateMoney" />
		<association property="expenditureitems"
			javaType="Expenditureitems">
			<id column="e_expenditureitemsId" property="expenditureitemsId" />
			<result column="e_category" property="category" />
			<result column="e_expenditureitemsName"
				property="expenditureitemsName" />
		</association>
		<association property="paymentMethod"
			javaType="PaymentMethod">
			<id column="p_paymentmethodId" property="paymentmethodId" />
			<result column="p_paymentmethodName"
				property="paymentmethodName" />
		</association>
	</resultMap>
	<select id="selectExpenOrderList"
		resultMap="selectExpenOrderListMap" parameterType="Order">
		select distinct
		<include refid="selectExpenOrderListCol" />
		from traininginstitutions.order o
		join expenditureitems e on
		e.expenditureitemsId = o.expenditureitemsId
		join paymentmethod p on
		p.paymentmethodId = o.paymentmethodId
		<where>
			<if test="expenditureitemsId !=null and expenditureitemsId!=null">
				o.expenditureitemsId = #{expenditureitemsId}
			</if>
			<if test="schoolId !=null and schoolId != ''">
				and o.schoolId =#{schoolId}
			</if>
			<if test="startTime != null and startTime != ''">
				and date(o.startTime)between #{startTime} and #{endTime}
			</if>
		</where>
	</select>
	<select id="selectUsedIntegral" resultMap="selectUsedIntegrals"
		statementType="STATEMENT">
		SELECT o.orderId oi,
		o.giftId od,g.giftName
		gn,o.giftNumber ogn,o.stuId,sc.schoolName scn
		FROM `order` o
		JOIN gift g
		ON
		o.giftId=g.giftId
		join school sc on o.schoolId=sc.schoolId
		WHERE
		o.stuId=${stuId}
	</select>

	<resultMap type="Order" id="selectUsedIntegrals">
		<id column="oi" property="orderId" />
		<result column="od" property="giftId" />
		<result column="ogn" property="giftNumber" />
		<result column="o.stuId" property="stuId" />
		<collection property="gift" javaType="Gift">
			<result column="gn" property="giftName" />
		</collection>
		<collection property="school" javaType="School">
			<result column="scn" property="schoolName" />
		</collection>
	</resultMap>

	<!--学生收费情况 -->
	<sql id="feeSituationMap">
		distinct
		o.addhour o_addhour,
		o.departmentofpediatricsId
		o_departmentofpediatricsId,
		o.dpMoney o_dpMoney,
		o.expenditureitemsId
		o_expenditureitemsId,
		o.feecategoryMoney o_feecategoryMoney,
		o.feecateId o_feecateId,
		o.firstdate o_firstdate,
		o.addhour o_addhour,
		o.givehour o_givehour,
		o.identification o_identification,
		o.lastdate
		o_lastdate,
		o.orderId
		o_orderId,
		o.orderNumber o_orderNumber,
		o.paymentmethodId
		o_paymentmethodId,
		o.personliable o_personliable,
		o.remarks o_remarks,
		o.schoolId o_schoolId,
		o.startTime o_startTime,
		o.stuId o_stuId,
		o.integral o_integral,
		dp.dpTypeName
		dp_dpTypeName,
		t.studentName t_studentName
	</sql>
	<resultMap type="Order" id="feeSituationMap">
		<id column="o_orderId" property="orderId" />
		<result column="o_departmentofpediatricsId"
			property="departmentofpediatricsId" />
		<result column="o_dpMoney" property="dpMoney" />
		<result column="o_expenditureitemsId"
			property="expenditureitemsId" />
		<result column="o_feecategoryMoney" property="feecategoryMoney" />
		<result column="o_feecateId" property="feecateId" />
		<result column="o_firstdate" property="firstdate" />
		<result column="o_addhour" property="addhour" />
		<result column="o_givehour" property="givehour" />
		<result column="o_identification" property="identification" />
		<result column="o_lastdate" property="lastdate" />
		<result column="o_orderNumber" property="orderNumber" />
		<result column="o_paymentmethodId" property="paymentmethodId" />
		<result column="o_personliable" property="personliable" />
		<result column="o_remarks" property="remarks" />
		<result column="o_schoolId" property="schoolId" />
		<result column="o_startTime" property="startTime" />
		<result column="o_stuId" property="stuId" />
		<result column="o_integral" property="integral" />
		<result column="o_stuId" property="stuId" />
		<association property="departmentOfPediatrics"
			javaType="DepartmentOfPediatrics">
			<result column="dp_dpTypeName" property="dpTypeName" />
		</association>
		<association property="student" javaType="Student">
			<result column="t_studentName" property="studentName" />
		</association>
	</resultMap>
	<!-- 查询少儿学生收费情况 -->
	<select id="selectChildrenFeeSituation"
		parameterType="java.lang.Integer" resultMap="feeSituationMap">
		select
		<include refid="feeSituationMap" />
		from traininginstitutions.order o,departmentofpediatrics
		dp,childrenesclassstudnet css,student t
		<where>
			o.classId = css.classId
			and dp.dpId = o.departmentofpediatricsId
			<if test="classId!=null and classId!=''">
				and o.classId=#{classId}
			</if>
			<if test="studentId !=null and studentId !=''">
				and o.stuId = #{studentId}
			</if>
			<if test="startTime != null and startTime != ''">
				and date(o.startTime)between #{startTime} and #{endTime}
			</if>
		</where>
		group by o.stuId
	</select>

	<!-- 查询高中学生收费情况 -->
	<select id="selectHighsFeeSituation"
		parameterType="java.lang.Integer" resultMap="feeSituationMap">
		select
		<include refid="feeSituationMap" />
		from traininginstitutions.order o,departmentofpediatrics
		dp,highesclassstudnet hss,student t
		<where>
			o.classId = hss.classId
			and dp.dpId = o.departmentofpediatricsId
			<if test="classId!=null and classId!=''">
				and o.classId=#{classId}
			</if>
			<if test="startTime != null and startTime != ''">
				and date(o.startTime)between #{startTime} and #{endTime}
			</if>
		</where>
		group by o.stuId
	</select>

	<!-- 查询艺考学生收费情况 -->
	<select id="selectArtFeeSituation"
		parameterType="java.lang.Integer" resultMap="feeSituationMap">
		select
		<include refid="feeSituationMap" />
		from traininginstitutions.order o,departmentofpediatrics
		dp,artclassstudnet hss,student t
		<where>
			o.classId = hss.classId
			and dp.dpId = o.departmentofpediatricsId
			<if test="classId!=null and classId!=''">
				and o.classId=#{classId}
			</if>
			<if test="startTime != null and startTime != ''">
				and date(o.startTime)between #{startTime} and #{endTime}
			</if>
		</where>
		group by o.stuId
	</select>

	<select id="selectOrderListByStudentId" resultType="Order"
		parameterType="java.lang.Integer">
		select
		<include refid="orderCol" />
		from traininginstitutions.order
		<where>
			<if test="studentId !=null and studentId!=''">
				stuId = #{studentId}
			</if>
		</where>
	</select>

	<select id="selectStduentHour" resultMap="selectStduentHours">
		SELECT o.orderId ooi,
		o.stuId
		ssi,sc.schoolName scn,s.studentName
		stn,d.dpTypeName
		dtn,s.telephone stp,s.school sch,s.studentHour sth
		,o.dpMoney
		odm,o.addhour+o.givehour oag,o.startTime ost,o.orderNumber
		oon
		FROM
		`order` o
		JOIN student s ON
		o.stuId=s.studentId
		JOIN school sc ON
		o.schoolId=sc.schoolId
		JOIN
		departmentofpediatrics d ON
		o.departmentofpediatricsId=d.dpId
		<where>
			s.studentHour &lt; #{time} AND
			o.addhour IS NOT NULL AND
			o.schoolId=#{schoolId}
			<if test="studentName !=null and studentName !=''">
				AND s.studentName LIKE CONCAT('%',#{studentName},'%')
			</if>
			<if test="number !=null and number !=''">
				AND d.dpId=#{number}
			</if>
		</where>
		ORDER BY o.stuId DESC
	</select>

	<resultMap type="Order" id="selectStduentHours">
		<id column="ooi" property="orderId" />
		<result column="ssi" property="stuId" />
		<result column="odm" property="dpMoney" />
		<result column="oag" property="addhour" />
		<result column="ost" property="startTime" />
		<result column="oon" property="orderNumber" />
		<collection property="school" javaType="School">
			<result column="scn" property="schoolName" />
		</collection>
		<collection property="departmentOfPediatrics"
			javaType="DepartmentOfPediatrics">
			<result column="dtn" property="dpTypeName" />
		</collection>
		<collection property="student" javaType="Student">
			<result column="stp" property="telephone" />
			<result column="sch" property="school" />
			<result column="stn" property="studentName" />
			<result column="sth" property="studentHour" />
		</collection>
	</resultMap>
	<select id="selectStduentDay" resultMap="selectStduentDays">
		SELECT o.orderId ooi,
		o.stuId
		ssi,sc.schoolName scn,s.studentName
		stn,s.telephone
		stp,s.school
		sch,s.studentHour sth,o.feecateId
		ofi,p.paymentmethodName
		ppn,o.firstdate ofd,o.lastdate olds,o.startTime
		ost,o.orderNumber
		oon,o.dpMoney odm
		FROM `order` o
		JOIN student s ON
		o.stuId=s.studentId
		JOIN school sc ON o.schoolId=sc.schoolId
		JOIN
		paymentmethod p ON
		o.paymentmethodId=p.paymentmethodId
		<where>
			s.studentHour &lt; #{time} AND
			o.firstdate IS NOT NULL AND
			o.schoolId=#{schoolId}
			<if test="studentName !=null and studentName !=''">
				AND s.studentName LIKE CONCAT('%',#{studentName},'%')
			</if>
			<if test="number !=null and number !=''">
				AND o.feecateId LIKE CONCAT('%',#{number},'%')
			</if>
		</where>
		ORDER BY o.stuId DESC
	</select>

	<resultMap type="Order" id="selectStduentDays">
		<id column="ooi" property="orderId" />
		<result column="ssi" property="stuId" />
		<result column="odm" property="dpMoney" />
		<result column="ost" property="startTime" />
		<result column="oon" property="orderNumber" />
		<result column="ofi" property="feecateId" />
		<result column="ofd" property="firstdate" />
		<result column="olds" property="lastdate" />
		<collection property="school" javaType="School">
			<result column="scn" property="schoolName" />
		</collection>
		<collection property="paymentMethod"
			javaType="PaymentMethod">
			<result column="ppn" property="paymentmethodName" />
		</collection>
		<collection property="student" javaType="Student">
			<result column="stn" property="studentName" />
			<result column="stp" property="telephone" />
			<result column="sch" property="school" />
			<result column="sth" property="studentHour" />
		</collection>
	</resultMap>

	<select id="selectActivityOrders"
		resultMap="selectActivityOrderes">
		SELECT o.orderId ooi,o.startTime ost,o.discount odt,sc.schoolName
		ssn,st.studentName stn,o.orderNumber oon,o.activityId oai
		FROM `order`
		o
		JOIN school sc
		ON o.schoolId=sc.schoolId
		JOIN student st ON
		o.stuId=st.studentId
		<where>
			<if test="startTime !=null and startTime !=''">
				AND o.startTime LIKE CONCAT('%',#{startTime},'%')
			</if>
			<if test="activityId !=null and activityId !=''">
				AND o.activityId = #{activityId}
			</if>
			<if test="activityId ==null and activityId ==''">
				AND o.activityId != NULL
			</if>
			<if test="schoolId !=null and schoolId !=''">
				AND o.schoolId = #{schoolId}
			</if>
		</where>
	</select>
	<resultMap type="Order" id="selectActivityOrderes">
		<id column="ooi" property="orderId" />
		<result column="ost" property="startTime" />
		<result column="odt" property="discount" />
		<result column="oon" property="orderNumber" />
		<result column="oai" property="activityId" />
		<collection property="school" javaType="School">
			<result column="ssn" property="schoolName" />
		</collection>
		<collection property="student" javaType="Student">
			<result column="stn" property="studentName" />
		</collection>
	</resultMap>


	<select id="selectGiftes" resultMap="selectGiftes2">
		SELECT
		o.orderId ooi,o.startTime ost,o.orderNumber oon,s.studentName
		stn,sc.schoolName ssn,g.giftName ggn,o.giftNumber ogn
		FROM `order` o
		JOIN student s ON o.stuId=s.studentId
		JOIN school sc ON
		o.schoolId=sc.schoolId
		JOIN gift g ON o.giftId=g.giftId
		<where>
			<if test="startTime !=null and startTime !=''">
				AND o.startTime LIKE CONCAT('%',#{startTime},'%')
			</if>
			<if test="giftId !=null and giftId !=''">
				AND o.giftId=#{giftId}
			</if>
			<if test="giftId ==null and giftId ==''">
				AND o.activityId != NULL or 0
			</if>
			<if test="schoolId !=null and schoolId !=''">
				AND o.schoolId = #{schoolId}
			</if>
		</where>
	</select>
	<resultMap type="Order" id="selectGiftes2">
		<id column="ooi" property="orderId" />
		<result column="ost" property="startTime" />
		<result column="ogn" property="giftNumber" />
		<result column="oon" property="orderNumber" />
		<collection property="school" javaType="School">
			<result column="ssn" property="schoolName" />
		</collection>
		<collection property="student" javaType="Student">
			<result column="stn" property="studentName" />
		</collection>
		<collection property="gift" javaType="Gift">
			<result column="ggn" property="giftName" />
		</collection>
	</resultMap>
	<update id="delOrderTable">
		truncate traininginstitutions.order
	</update>

	<select id="RecruitStudentes" resultMap="RecruitStudentes2">
		SELECT o.orderId
		ooi,o.startTime ost,o.teacherId oti,o.orderNumber
		onb,s.schoolName ssn,st.studentName stn,t.teacherName ttn,c.className ccn
		FROM `order` o
		JOIN school s ON
		o.schoolId=s.schoolId
		JOIN student st ON o.stuId=st.studentId
		JOIN teacher t ON o.teacherId=t.teacherId
		JOIN class c ON o.classId=c.classId
		<where>
			<if test="startTime !=null and startTime !=''">
				AND o.startTime LIKE CONCAT('%',#{startTime},'%')
			</if>
			<if test="classes !=null and classes !=''">
				AND o.classId=#{classes}
			</if>
			<if test="teacherId !=null and teacherId !=''">
				AND o.teacherId = #{teacherId}
			</if>
			<if test="studentName !=null and studentName !=''">
				AND st.studentName LIKE CONCAT('%',#{studentName},'%')
			</if>
			<if test="schoolId !=null and schoolId !=''">
				AND o.schoolId = #{schoolId}
			</if>
		</where>
	</select>

	<resultMap type="Order" id="RecruitStudentes2">
		<id column="ooi" property="orderId" />
		<result column="ost" property="startTime" />
		<result column="oti" property="teacherId" />
		<result column="onb" property="orderNumber" />
		<collection property="school" javaType="School">
			<result column="ssn" property="schoolName" />
		</collection>
		<collection property="student" javaType="Student">
			<result column="stn" property="studentName" />
		</collection>
		<collection property="teacher" javaType="Teacher">
			<result column="ttn" property="teacherName" />
		</collection>
		<collection property="classes" javaType="Class">
			<result column="ccn" property="className" />
		</collection>
	</resultMap>

</mapper>   

