<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.SchoolAccountMapper">
	<sql id="schoolAccountCol">
		accountId,
		expenId,
		expenMoney,
		feecateId,
		feectaeMoney,
		schoolId,
		startTime
	</sql>
	
	<sql id="SchoolAccountsBySchoolIdCol">
		sa.accountId sa_accountId,
		sa.expenId sa_expenId,
		sa.expenMoney sa_expenMoney,
		sa.feecateId sa_feecateId,
		sa.feectaeMoney sa_feectaeMoney,
		sa.schoolId sa_schoolId, 
		sa.startTime sa_startTime,
		ft.chargeTypeName ft_chargeTypeName,
		ed.expenditureitemsName ed_expenditureitemsName,
			
	</sql>
	
	
	<resultMap type="SchoolAccount" id="schoolAccountMap">
		<id column="sa_accountId" property="accountId"/>
		<id column="sa_expenId" property="expenId"/>
		<id column="sa_expenMoney" property="expenMoney"/>
		<id column="sa_feecateId" property="feecateId"/>
		<id column="sa_feectaeMoney" property="feectaeMoney"/>
		<id column="sa_schoolId" property="schoolId"/>
		<id column="sa_startTime" property="startTime"/>
		<association property="expenditureitems" javaType="Expenditureitems">
			<result column="ed_expenditureitemsName" property="expenditureitemsName"/>
		</association>
		<association property="feeCategory" javaType="FeeCategory">
			<result column="ft_chargeTypeName" javaType="chargeTypeName"/>
		</association>
	</resultMap>
	
	<!-- 根据学校主键查询该校的账户信息-->
	<select id="selectSchoolAccountsBySchoolId" resultMap="schoolAccountMap" parameterType="java.lang.Integer">
		select <include refid="SchoolAccountsBySchoolIdCol"/>
		from schoolaccount sa
		join expenditureitems ed on ed.expenditureitemsId = sa.expenId
		join feecategory ft on ft.chargeTypeId = sa.feecateId
		<where>
			<if test="schoolId != null and schoolId != ''">
				sa.schoolId = #{schoolId}
			</if>
		</where>
	</select>
	

</mapper>