<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.StudentLeaveMapper">
	<sql id="studentLeaveCol">
		sl.slId,
		sl.studentId,
		sl.studentName,
		sl.classId,
		sl.remarks,
		sl.startTime,
		sl.endTime,
		sl .schoolId,
		sl.thId,
		th.teacherHourId,
		th.teacherName,
		th.teacherId,
		th.classId,
		th.hours,
		th.dpName,
		th.dpId,
		th.startTime,
		th.schoolId,
		th.remarks
	</sql>

	<!-- 根据班级查询请假学生 -->
	<select id="findStudentLeavesByClassId"
		resultType="StudentLeave">
		select
		<include refid="studentLeaveCol" />
		from studentleave sl,teacherhour th
		<where>
			sl.thId = th.teacherHourId
			<if test="map.classId != null and map.classId != ''">
				and sl.classId = #{map.classId}
			</if>
			<if test="map.schoolId != null and map.schoolId != ''">
				and sl.schoolId = #{map.schoolId}
			</if>
			<if test="map.startTime != null and map.startTime  != ''">
				and date(sl.startTime) between #{map.startTime} and
				#{map.endTime}
			</if>
		</where>
	</select>

	<select id="findStudentLeavesByHighClassId" resultType="StudentLeave">
		select *
		from studentleave sl
		<where>
			<if test="map.classId != null and map.classId != ''">
				and sl.classId = #{map.classId}
			</if>
			<if test="map.schoolId != null and map.schoolId != ''">
				and sl.schoolId = #{map.schoolId}
			</if>
			<if test="map.startTime != null and map.startTime  != ''">
				and date(sl.startTime) between #{map.startTime} and
				#{map.endTime}
			</if>
		</where>
	</select>

	<insert id="insertStudentLeave" parameterType="StudentLeave">
		insert into
		traininginstitutions.studentleave
		( studentId, studentName, classId,
		remarks, startTime, endTime,schoolId )
		values
		( #{studentId},
		#{studentName}, #{classId}, #{remarks}, #{startTime},
		#{endTime}
		,#{schoolId})
	</insert>

</mapper>
