<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.StudentToolMapper">

	<insert id="addStudentTool" parameterType="java.lang.Integer">
		INSERT INTO
		traininginstitutions.studenttool (studentId, teacherId,
		teacherName,className)VALUES(#{studentId}, #{teacherId}, #{teacherName},#{className});
	</insert>
	
</mapper>