<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.TeacherTypeMapper">

	<select id="selectTeacherType" resultType="TeacherType">
		SELECT teacherTypeId,teacherTypeName FROM
		teachertype
	</select>

	<!-- 添加教师职业 -->
	<insert id="insertTeacherType">

		insert into traininginstitutions.teachertype
		(
		teacherTypeName
		)
		values
		(
		#{teacherTypeName}
		)

	</insert>

	<delete id="delTeacherType">

		delete from traininginstitutions.teachertype
		<where>
			<if test="teacherTypeId !=null and teacherTypeId != ''">

				teacherTypeId = #{teacherTypeId}
			</if>
		</where>

	</delete>
</mapper>
