/* body {
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
} */
table td {
	border: 1px solid #E3EAEF;
}

.code {
	font-family: Arial;
	font-style: italic;
	color: blue;
	font-size: 30px;
	border: 0;
	padding: 2px 3px;
	letter-spacing: 3px;
	font-weight: bolder;
	float: left;
	cursor: pointer;
	width: 150px;
	height: 50px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #D8B7E3;
}

