<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.ClassTimeMapper">

	<select id="selectClassTime" resultType="ClassTime">
		SELECT
		c.classTimeId,c.classTimeName,c.schoolId
		FROM classtime c
		WHERE
		c.schoolId=#{0}
	</select>

	<delete id="delClassTime">
		DELETE FROM traininginstitutions.classtime
		WHERE
		classTimeId = #{0} ;
	</delete>

	<insert id="addClassTime">
		INSERT INTO traininginstitutions.classtime
		(classTimeName, schoolId)VALUES(#{classTimeName}, #{schoolId});
	</insert>

</mapper>
