<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.FeeCategoryMapper">

	<select id="selectFeeCategory" resultType="FeeCategory">
		SELECT * FROM feecategory where schoolId = #{0}
	</select>
	
	<delete id="delFeeCategory" parameterType="java.lang.Integer">
		DELETE FROM feecategory WHERE chargeTypeId =#{0}
	</delete>

	<insert id="addFeeCategory" parameterType="FeeCategory">
		insert into traininginstitutions.feecategory ( chargeTypeName, chargeMoney,
		category, schoolId )
		values ( #{chargeTypeName}, #{chargeMoney},
		#{category}, #{schoolId} )
	</insert>
	
	<update id="delFeeCategoryTable">
		truncate feecategory
	</update>
</mapper>