<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.PaymentMethodMapper">

	<select id="selectPaymentMethod" resultType="PaymentMethod">
		SELECT * FROM paymentmethod
	</select>
	
	<delete id="delPaymentMethod" parameterType="java.lang.Integer">
		DELETE FROM paymentmethod WHERE PaymentmethodId =#{0}
	</delete>
	
	<insert id="addPaymentMethod" parameterType="java.lang.Integer">
		INSERT INTO paymentmethod (PaymentmethodName)VALUES(#{0});
	</insert>

</mapper>