<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.SchoolAccountMapper">
	<sql id="schoolAccountCol">
		accountId,
		expenId,
		expenMoney,
		feecateId,
		feectaeMoney,
		schoolId,
		startTime
	</sql>
	<select id="selectSchoolAccountsBySchoolId" resultType="SchoolAccount" parameterType="java.lang.Integer">
		select <include refid="schoolAccountCol"/>
		from schoolaccount
		<where>
			<if test="schoolId != null and schoolId != ''">
				schoolId = #{schoolId}
			</if>
		</where>
	</select>
	

</mapper>