<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.TeacherHourMapper">
	
	<sql id="selecTeacherHourListBySchoolIdCol">
		th.dpId,
		th.dpName,
		th.hours,
		th.remarks,
		th.classId,
		th.schoolId,
		th.startTime,
		th.teacherHourId,
		th.teacherId,
		th.teacherName, 
		SUM(th.hours) sumHours
	</sql>
	
	<!--查询教师课时-->	
	<select id="selecTeacherHourListBySchoolId" resultType="TeacherHour" parameterType="java.lang.Integer">
		select <include refid="selecTeacherHourListBySchoolIdCol"/>
		from teacherhour th
		<where>
			<if test="schoolId !=null and schoolId !=''">
				th.schoolId =#{schoolId} 
			</if>
			group by th.teacherId  
		</where> 
	</select>
	
	<sql id="CurriculumInfoCol">
		t.classId t_classId,
		t.dpId t_dpId,
		t.dpName t_dpName,
		t.hours t_hours, 
		t.remarks t_remarks,
		t.schoolId t_schoolId,
		t.startTime t_startTime,
		t.teacherHourId t_teacherHourId,
		t.teacherId t_teacherId,
		t.teacherName t_teacherName
	</sql>
	
	<resultMap type="TeacherHour" id="CurriculumInfoMap">
		
	</resultMap>
	
	<select id="selectCurriculumInfo" parameterType="java.lang.Integer" resultMap="CurriculumInfoMap">
		select 
		from teacherHour t
		where t.classId = 
	
	</select>
	

</mapper>
