<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huizhi.mapper.UserMapper">
	<!--查询调用参数 -->
	<sql id="userCol">
		uId,
		loginName,
		loginPassword,
		schoolId,
		userTypeId,
		telephone,
		remarks
	</sql>
	<!--添加登录sql语句根据账号密码校区校验 -->
	<select id="selectUserByLogin" resultType="User">
		select
		<include refid="userCol" />
		from user
		<where>
			<if test="loginName!=null and  loginName!=''">
				and loginName=#{loginName}
			</if>
			<if test="loginPassword!=null and loginPassword!=''">
				and loginPassword=#{loginPassword}
			</if>
			<if test="schoolId != null and schoolId!=''">
				and schoolId=#{schoolId}
			</if>
		</where>
	</select>
	<!-- 创建用户 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO
		traininginstitutions.user (userName, loginName, loginPassword,
		schoolId, userTypeId, telephone, remarks)VALUES(#{userName},
		#{loginName}, #{loginPassword},
		#{schoolId}, #{userTypeId}, #{telephone},
		#{remarks}
	</insert>


	<select id="selectUserByUserName" resultType="User">
		select
		<include refid="userCol" />
		from user
		<where>
			<if test="loginName !=null and loginName !=''">
				loginName = #{loginName}
			</if>
		</where>
	</select>

	<select id="selectUserByAll" resultMap="selectUserByAlls">
		SELECT
		u.uId ud,u.userName,u.telephone,u.remarks,s.schoolName
		sd,t.teacherName
		FROM `user` u
		JOIN school s ON
		u.schoolId=s.schoolId
		WHERE
		u.userTypeId=3 AND u.schoolId=#{0}
		ORDER BY u.uId
	</select>

	<resultMap type="User" id="selectUserByAlls">
		<id column="ud" property="uId" javaType="java.lang.Integer" />
		<result property="userName" column="u.userName"
			javaType="java.lang.String" />
		<result property="schoolId" column="sd"
			javaType="java.lang.String" />
		<result property="remarks" column="u.remarks"
			javaType="java.lang.String" />
		<result property="teacherId" column="td"
			javaType="java.lang.Integer" />
		<result property="telephone" column="u.telephone"
			javaType="java.lang.String" />
	</resultMap>

	<update id="updateTeacher" parameterType="User">
		UPDATE
		traininginstitutions.user SET userName = #{userName} , loginName =
		#{loginName} , loginPassword = #{loginPassword} , schoolId =
		#{schoolId}
		, userTypeId = #{userTypeId} , telephone = #{telephone} ,
		remarks =
		#{remarks}  WHERE uId = #{uId} ;
	</update>

	<delete id="delTeacher">
		DELETE FROM traininginstitutions.user WHERE uId = #{0}
	</delete>

	<!--根据科别查询老师-->
	

	<insert id="addTeacher" parameterType="User">
		INSERT INTO
		traininginstitutions.user (userName, loginName, loginPassword,
		schoolId, userTypeId, telephone, remarks
		)VALUES(#{userName},
		#{loginName}, #{loginPassword},
		#{schoolId}, 3, #{telephone},
		#{remarks}, 
	</insert>

</mapper>
